a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 320px;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}
footer nav a {
  color: #ffffff;
}
footer nav a p {
  padding: 5px 0px;
}
footer nav a p i {
  padding-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
header img {
  height: 30px;
  margin: 30px auto 20px auto;
}
header i {
  position: absolute;
  font-size: 22px;
  left: 30px;
  top: 35px;
}