// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new-restaurant: #38a98d;
$bg-header: #ffffff;
$bg-footer: #353535;
$color-footer: #ffffff;
$input_color: #eaeaea;

// Fonts
$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', sans-serif;
$input-font: 'Roboto', FontAwesome, sans-serif;

// Breakpoints for media queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;