// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-header: #fff;
$color-footer: #353535;

// Fonts
$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', sans-serif;

//Mediaqueries