.header_menu {
    margin: 0 auto;
    max-width: 1000px;
    img {
        width:100%;
        z-index: 1;
        
    }

    h2 {
        position: relative;
        font-family: $title-font;
        background-color: #fff;
        margin-top: -40px;
        padding: 30px;
        border-radius: 40px;
        z-index: 2;

        i {
            position: absolute;
            right: 40px;
        }
    }
}

.meal_menu {
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 20px;

    >h3 {
        position: relative;
        margin: 25px;
        text-transform: uppercase;
    }

    >h3:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        margin-bottom: -10px;
        background: $color-tertiary;
        width: 50px;
        height: 3px;
    }

    article {
        display: flex;
        box-shadow: 3px 5px 10px 1px rgb(207, 207, 207);
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;

        .meal_ingredients {
            width: 100%;
            padding: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .meal_checked {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: -100px;
            width: 100px;
            background-color: $color-tertiary;
            transition: margin-right 0.3s ease-in-out;
            p {
                font-size: 28px;
                color: white;
            }
        }

        h3 {
            margin-top: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            div {
                height: 100%;
            }
        }

        .meal_menu_price {
            position: relative;
            width: 30px;
            vertical-align: bottom;
            font-weight: bold;
            white-space: nowrap;
            margin-right: 20px;
            span {
                position: absolute;
                bottom: 20px;
            }
        }

        &:hover, &:active {
            .meal_checked {
                margin-right: 0px;
                transition: margin-right 0.5s ease-in-out;
                i {
                    transform: rotate(360deg);
                    transition: transform 0.7s ease-in-out;
                }
            }
        }
    }
}
