.header_menu {
    margin: 0 auto;
    max-width: 500px;
    img {
        width:100%;
        z-index: 1;
        
    }

    h2 {
        position: relative;
        font-family: $title-font;
        background-color: #fff;
        margin-top: -40px;
        padding: 30px;
        border-radius: 40px;
        z-index: 2;

        i {
            position: absolute;
            right: 40px;
        }
    }
}

.meal_menu {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 20px;
    >h3 {
        margin: 25px;
        text-transform: uppercase;
    }

    article {
        display: flex;
        box-shadow: 3px 5px 10px 1px #999;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;

        div {
            padding: 10px;
        }
        div:first-child {
            width: 100%;
        }

        div:last-child {
            align-items: center;
            width: 0%;
            display: none;
            background-color: $color-tertiary;
            p {
                font-size: 28px;
                color: white;
            }

        }

        h3 {
            margin-top: 10px;
        }

        p {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .meal_menu_price {
            position: absolute;
            font-weight: bold;
            text-align: right;
            right: 20px;
        }

        &:hover {
            div:first-child {
                width: 80%;
            }
            div:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                overflow: hidden;
            }
        }
    }
}
