footer {
    background-color: $bg-footer;
    color: $color-footer;
    padding: 20px;
    margin-top: 40px;
    h3 {
        font-family: $title-font;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    nav {
        a {
            color: $color-footer;
            p {
                padding: 5px 0px;
                i {
                    width: 30px;
                }
            }
        }
    }
}