footer {
    background-color: $bg-footer;
    color: $color-footer;
    padding: 20px;
    h3 {
        font-family: $title-font;
        font-weight: normal;
    }
    nav {
        a {
            color: $color-footer;
            p {
                padding: 5px 0px;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
}