// reset css
a:link, a:visited, a:hover, a:active { text-decoration: none; }
p, h3 { margin: 0; }

* {
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    min-width: 320px;
}

// loader
.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    z-index: 1;
    animation: hide-loader-container 0s ease-in 1.5s;
    animation-fill-mode: forwards;
}

.loader {
    width: 128px;
    height: 128px;
    border: 14px solid;
    border-color: $color-primary transparent $color-secondary transparent;
    border-radius: 50%;
    animation: rotate-animation 1.5s linear;
}